layout {
    tab name="neovim" focus=true {
        base {
            pane command="nvim"
        }
    }
    tab name="terminal" {
        wide
    }

    pane_template name="base"{
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }

    }

    pane_template name="wide" {
        base {
            pane split_direction="vertical" {
                pane name="main"
                pane name="tooling" size="30%" split_direction="horizontal" {
                    pane
                    children
                    pane
                }
            }
        }
    }
}
