[user]
	email = augusto.c.dias@wire.com
	name = Augusto
	signingkey = 4CBE3D4E4A19D53E
[pull]
	rebase = true
[diff]
	tool = nvimdiff
	guitool = nvimdiff
[merge]
	tool = nvimdiff
	conflictstyle = diff3
[mergetool]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
	prompt = false
[commit]
	gpgsign = true
[core]
	editor = nvim
	pager = bat
