[user]
    email = augusto.c.dias@gmail.com
    name = Augusto César Dias
    signingkey = 7D8396F74725A208D835CE3730E62A1E4F078650
[core]
    editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
    pager = delta
[commit]
    gpgsign = true
[tag]
    gpgSign = true
[pull]
    rebase = true
[diff]
    tool = diffview
[difftool]
    prompt = false
[difftool "diffview"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[merge]
    tool = diffview
    conflictstyle = zdiff3
[mergetool]
    keepBackup = false
    trustExitCode = false
    prompt = true
[mergetool "diffview"]
    cmd = nvim -n -c "DiffviewOpen" "$MERGE"
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[log]
    showSignature = true
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true  # use n and N to move between diff sections   whitespace = red reverse
    true-color = always
[alias]
    br = branch
    st = status
    co = checkout
    diff-sbs = -c delta.features=side-by-side diff
