<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.sharewithairdrop</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>213D1AC1-9A74-456F-9489-2554CB9EA0D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C9489AFF-96A0-4AC4-879E-878E1B2B62A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>22E81DEE-C769-41AC-8B2A-6075E7708D7A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3AA7CB75-E314-4A45-BC6B-7A94E494D8C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AA7CB75-E314-4A45-BC6B-7A94E494D8C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51E315A4-F0F5-48F5-B0D1-616BF481D1F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51E315A4-F0F5-48F5-B0D1-616BF481D1F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>841352FF-AB47-476C-8169-8A1918666E69</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>841352FF-AB47-476C-8169-8A1918666E69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D11C5E50-D798-48B8-9ED9-517EE8E9629E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C9489AFF-96A0-4AC4-879E-878E1B2B62A8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51E315A4-F0F5-48F5-B0D1-616BF481D1F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Share files, text, and URLs via AirDrop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Share with AirDrop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/shortcuts run 'Share with AirDrop' --input-path "${@}" --output-path /dev/null</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C9489AFF-96A0-4AC4-879E-878E1B2B62A8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<true/>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Share with AirDrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>213D1AC1-9A74-456F-9489-2554CB9EA0D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>Share with AirDrop.shortcut</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D11C5E50-D798-48B8-9ED9-517EE8E9629E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>Share with Airdrop</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>51E315A4-F0F5-48F5-B0D1-616BF481D1F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>6</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Missing Shortcut</string>
						<key>uid</key>
						<string>10800F7B-3F08-4143-BE36-26AA026B629D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>841352FF-AB47-476C-8169-8A1918666E69</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Share with AirDrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>22E81DEE-C769-41AC-8B2A-6075E7708D7A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>0</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Share with AirDrop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>3AA7CB75-E314-4A45-BC6B-7A94E494D8C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Send files, text, and URLs with AirDrop via the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/).

![Sending a file](images/about/file.png)

![Sending text](images/about/text.png)

![Sending a URL](images/about/url.png)</string>
	<key>uidata</key>
	<dict>
		<key>213D1AC1-9A74-456F-9489-2554CB9EA0D8</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>22E81DEE-C769-41AC-8B2A-6075E7708D7A</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>3AA7CB75-E314-4A45-BC6B-7A94E494D8C0</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>51E315A4-F0F5-48F5-B0D1-616BF481D1F2</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>841352FF-AB47-476C-8169-8A1918666E69</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C9489AFF-96A0-4AC4-879E-878E1B2B62A8</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>55</real>
		</dict>
		<key>D11C5E50-D798-48B8-9ED9-517EE8E9629E</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/share-with-airdrop-workflow/</string>
</dict>
</plist>
