<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vitor.unitconverter</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1E3BC34A-6E54-49B9-A8A6-105FB0661109</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>364D1DF6-4E90-41D5-B09F-220A2D20CB3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>200D052A-CA3A-4D0B-8C54-DE7566B224D8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DFADBA71-59E7-42A8-8CEB-BF5B49670393</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>364D1DF6-4E90-41D5-B09F-220A2D20CB3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB799FBC-92A9-4536-82D7-663B536D0D59</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Paste to frontmost app</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9F319E4E-0C9F-41C1-A6E0-E51CBEFACDDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6057E88A-1B17-43BF-90FE-FBE7F5CA9A6D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200D052A-CA3A-4D0B-8C54-DE7566B224D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C57D7927-A73C-463C-8E50-0027E8E43AF0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>86A67E88-9E74-4672-BF8B-8A0694C81E2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>86A67E88-9E74-4672-BF8B-8A0694C81E2F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>200D052A-CA3A-4D0B-8C54-DE7566B224D8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F319E4E-0C9F-41C1-A6E0-E51CBEFACDDC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6057E88A-1B17-43BF-90FE-FBE7F5CA9A6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB799FBC-92A9-4536-82D7-663B536D0D59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6057E88A-1B17-43BF-90FE-FBE7F5CA9A6D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBE1C6B7-869D-4CE7-85A7-1BDBF0E273A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>364D1DF6-4E90-41D5-B09F-220A2D20CB3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Convert between different units of measurement</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Unit Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CB799FBC-92A9-4536-82D7-663B536D0D59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DFADBA71-59E7-42A8-8CEB-BF5B49670393</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:convert_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Input a value and unit (example: 42 km)</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>converter</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>364D1DF6-4E90-41D5-B09F-220A2D20CB3D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Convert Unit</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>EBE1C6B7-869D-4CE7-85A7-1BDBF0E273A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>json</key>
				<string>{
  "alfredworkflow" : {
    "arg" : "{query}",
    "config" : {
      "autopaste" : "{var:paste}"
    }
  }
}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.json</string>
			<key>uid</key>
			<string>200D052A-CA3A-4D0B-8C54-DE7566B224D8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy_include_unit}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Include Unit</string>
						<key>uid</key>
						<string>C57D7927-A73C-463C-8E50-0027E8E43AF0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Exclude Unit</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6057E88A-1B17-43BF-90FE-FBE7F5CA9A6D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>^(\d+(\.\d+)?).*</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>$1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>86A67E88-9E74-4672-BF8B-8A0694C81E2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>paste</key>
					<string>false</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9F319E4E-0C9F-41C1-A6E0-E51CBEFACDDC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>1E3BC34A-6E54-49B9-A8A6-105FB0661109</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Convert dimensions via the `conv` keyword. Type a number to see all available units with their full name and symbol.

![Typing a number](images/about/number.png)

Type a unit to filter.

![Filtering for starting unit](images/about/kilo.png)

Pressing &lt;kbd&gt;↩&lt;/kbd&gt; on a partial match triggers the autocomplete. See all possible conversion targets when matching a unit exactly.

![Showing all possible conversions](images/about/kbto.png)

Type further to filter for target units. Connector words (“to”, “as”, “in”) are optional to help with readability.

![Filtering for ending unit](images/about/kbtom.png)

* &lt;kbd&gt;↩&lt;/kbd&gt; Copy result to clipboard.
* &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; Paste result to frontmost app.

Rounding precision and output notation can be set in the [Workflow’s Configuration](https://www.alfredapp.com/help/workflows/user-configuration/). Output format follows the Number Style in System Settings → General → Language &amp; Region.

Configure the [Hotkey](https://www.alfredapp.com/help/workflows/triggers/hotkey/) or use the [Universal Action](https://www.alfredapp.com/help/features/universal-actions/) as shortcuts to convert results from Alfred’s [Calculator](https://www.alfredapp.com/help/features/calculator/), [Clipboard History](https://www.alfredapp.com/help/features/clipboard/), or selected text.

![Universal Action](images/about/ua.png)</string>
	<key>uidata</key>
	<dict>
		<key>1E3BC34A-6E54-49B9-A8A6-105FB0661109</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>200D052A-CA3A-4D0B-8C54-DE7566B224D8</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>364D1DF6-4E90-41D5-B09F-220A2D20CB3D</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>6057E88A-1B17-43BF-90FE-FBE7F5CA9A6D</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>86A67E88-9E74-4672-BF8B-8A0694C81E2F</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>9F319E4E-0C9F-41C1-A6E0-E51CBEFACDDC</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>CB799FBC-92A9-4536-82D7-663B536D0D59</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>DFADBA71-59E7-42A8-8CEB-BF5B49670393</key>
		<dict>
			<key>xpos</key>
			<real>775</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>EBE1C6B7-869D-4CE7-85A7-1BDBF0E273A0</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>conv</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Convert Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>convert_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include unit when copying</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Output Formatting</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>copy_include_unit</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Include thousands separator</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>thousands_group</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Use scientific notation</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>scientific_notation</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Decompose fractional feet into ′ and ″</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>split_feet</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>defaultvalue</key>
				<integer>3</integer>
				<key>markercount</key>
				<integer>10</integer>
				<key>maxvalue</key>
				<integer>9</integer>
				<key>minvalue</key>
				<integer>0</integer>
				<key>onlystoponmarkers</key>
				<true/>
				<key>showmarkers</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Maximum fraction digits to include when rounding.</string>
			<key>label</key>
			<string>Decimal Places</string>
			<key>type</key>
			<string>slider</string>
			<key>variable</key>
			<string>decimal_places</string>
		</dict>
	</array>
	<key>version</key>
	<string>2024.4</string>
	<key>webaddress</key>
	<string>https://github.com/alfredapp/unit-converter-workflow/</string>
</dict>
</plist>
