<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.colorpicker</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>031054F0-C9D2-4DA5-A571-A1CCEA098693</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4CBA33F9-8D67-4E7F-A8B2-5591F4B97F86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>ED9DC87F-8707-4472-8018-A022DEA41BBD</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Browse History in Alfred</string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>1AA12765-ADF9-43F7-A3D5-EDDB40CDC6B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1C62DA3-D2FB-4DF4-9489-30300F65B6A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>4CBA33F9-8D67-4E7F-A8B2-5591F4B97F86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A6A193ED-82F4-4866-8647-5023DD3B9848</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7815EBB7-11A6-4ED6-9417-463DDEE232F0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1C62DA3-D2FB-4DF4-9489-30300F65B6A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A155B53E-71BC-462E-89B8-2762B74378B0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>19FEED9C-C86F-4489-AE9C-6192AC5356EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6A193ED-82F4-4866-8647-5023DD3B9848</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CC39D8B-F5F0-4C32-9469-69770F123BCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1C62DA3-D2FB-4DF4-9489-30300F65B6A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48DF1E1F-DFCE-47AE-85A4-08C682E46223</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9CC39D8B-F5F0-4C32-9469-69770F123BCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Color Picker: hex, rgb, hsl</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Color Picker</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7815EBB7-11A6-4ED6-9417-463DDEE232F0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}
</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>48DF1E1F-DFCE-47AE-85A4-08C682E46223</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./src/launch.sh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Color Picker</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F1C62DA3-D2FB-4DF4-9489-30300F65B6A6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9CC39D8B-F5F0-4C32-9469-69770F123BCD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Color Picker</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1AA12765-ADF9-43F7-A3D5-EDDB40CDC6B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<false/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>2</integer>
				<key>inputfile</key>
				<string>src/history.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string></string>
				<key>showsubtitles</key>
				<false/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>A6A193ED-82F4-4866-8647-5023DD3B9848</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>sort_order</key>
					<string>by_added</string>
					<key>target_path</key>
					<string>{const:alfred_workflow_cache}</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/directory.children.sort</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>4CBA33F9-8D67-4E7F-A8B2-5591F4B97F86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>:{var:key}</string>
				<key>subtext</key>
				<string>View Color History</string>
				<key>text</key>
				<string>Color Picker</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>031054F0-C9D2-4DA5-A571-A1CCEA098693</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{const:alfred_workflow_cache}</string>
				<key>sortBy</key>
				<integer>1</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<true/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>ED9DC87F-8707-4472-8018-A022DEA41BBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<true/>
				<key>triggerid</key>
				<string>hide</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A155B53E-71BC-462E-89B8-2762B74378B0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>unstackview</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>19FEED9C-C86F-4489-AE9C-6192AC5356EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![icon](icon.png)

# Color Picker

---

Created by [Patrick Sy](https://github.com/zeitlings) | [Github](https://github.com/zeitlings/alfred-workflows#115-color-picker) | [Alfred Forum](https://www.alfredforum.com/topic/20843-color-picker/) | [Buy me a Coffee](https://ko-fi.com/zeitlings) ☕  

---

## Usage

Activate the *Color Sampler* with the keyword `cp` and pick the desired color.


![color picker keyword](images/previews/keyword-cp.png)
![color picker result preview](images/previews/picker-result.png)

### Color History

To review previously picked colors, activate the workflow with the keyword preceded by a colon `:cp`.

![color picker history keyword](images/previews/keyword-history.png)
![Color picker history preview](images/previews/history-grid.png)</string>
	<key>uidata</key>
	<dict>
		<key>031054F0-C9D2-4DA5-A571-A1CCEA098693</key>
		<dict>
			<key>note</key>
			<string>Review Color History</string>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>19FEED9C-C86F-4489-AE9C-6192AC5356EE</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>1AA12765-ADF9-43F7-A3D5-EDDB40CDC6B0</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>48DF1E1F-DFCE-47AE-85A4-08C682E46223</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>4CBA33F9-8D67-4E7F-A8B2-5591F4B97F86</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7815EBB7-11A6-4ED6-9417-463DDEE232F0</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>9CC39D8B-F5F0-4C32-9469-69770F123BCD</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A155B53E-71BC-462E-89B8-2762B74378B0</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>A6A193ED-82F4-4866-8647-5023DD3B9848</key>
		<dict>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>ED9DC87F-8707-4472-8018-A022DEA41BBD</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>F1C62DA3-D2FB-4DF4-9489-30300F65B6A6</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>cp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<false/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>HSL</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Include</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_hsl</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>NSColor</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_nscolor</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>RGBa</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_rgba</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>DEV</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>DEV</string>
	</array>
	<key>version</key>
	<string>1.3.4</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-workflows</string>
</dict>
</plist>
